<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FamilySearch.API.SDK" version="1.0.5422.31549" targetFramework="net45" />
  <package id="Flurl" version="1.0.2" targetFramework="net45" />
  <package id="Gedcomx.API.SDK" version="1.0.5422.31548" targetFramework="net45" />
  <package id="Gedcomx.Date" version="1.0.5422.31552" targetFramework="net45" />
  <package id="Gedcomx.File" version="1.0.5422.31544" targetFramework="net45" />
  <package id="Gedcomx.Model" version="1.0.5422.31541" targetFramework="net45" />
  <package id="Gedcomx.Model.Fs" version="1.0.5422.31542" targetFramework="net45" />
  <package id="Gedcomx.Model.Rs" version="1.0.5422.31542" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.3" targetFramework="net45" />
  <package id="json-ld.net" version="1.0.3" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="RestSharp" version="104.5.0" targetFramework="net45" />
  <package id="Tavis.UriTemplates" version="0.4" targetFramework="net45" />
</packages>